body {
    background-color: antiquewhite;
    font-family: 'Fredoka One', cursive;
    background-image: url"https://images.unsplash.com/photo-1507760094980-7fb3009e2f44?ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80";
}