body {
    background-color: antiquewhite;
    font-family: 'Fredoka One', cursive;
    color: saddlebrown;
    background-image: url("https://images.unsplash.com/photo-1550547660-d9450f859349?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 500px 500px;
    display: flex;
    justify-content: flex-end;
}

h1 {
    text-align: center;
    padding: 1em;
    color: saddlebrown;
}

h3 {
    color: navajowhite;
}

#order-button {
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

#clear-button {
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

#final-order {
    padding: 1em;
    margin: 1em;
}